body  {
        position: relative;

        margin-left: 25px;
        margin-top: 10px;

        }
div.asas{

        margin-left: 30px;
}
font.aaa
{
        position: absolute;
        top:237px;
        left:953px;
}
font.asdf
{
        position:absolute;
        top: 237px;
        left: 1106px;
}